## Python: Lists and Tuples

- __Lists, tuples and strings are sequences__ (consecutive data) in Python Standard Libraries.
- Arguments (elements) are consecutive and have __index starting from zero.__

__1. Lists: concept, indexing, and slicing__

- Lists __typically store homogeneous data__ in order.
- However, they can stor __heterogeneous data and mutable (modifiable).__
- #List는 변경가능 / Tuple은 변경 불가
- Lists are denoted by square bracket [], in which data items (dlements) are put.
- A list's index for elements starts __from zero.__

In [3]:
# An example of list
list1 = [1, 2, 3,4,5, 6, 11, 'a', 'b']
print(type(list1), list1)

<class 'list'> [1, 2, 3, 4, 5, 6, 11, 'a', 'b']

In [4]:
# Access elements with indexes (slicing)
print(list1[1], list1[7])
print(list1[2:5])   # slicing
print(list1[:7])
print(list1[4:])
print(list1[-1])   # slicing : negative index from the end
print(list1[-4:])
print(list1[1+2:])   # index addition is possible

2 a
[3, 4, 5]
[1, 2, 3, 4, 5, 6, 11]
[5, 6, 11, 'a', 'b']
b
[6, 11, 'a', 'b']
[4, 5, 6, 11, 'a', 'b']

In [5]:
# finding the size of a list with len()
len(list1)

9

In [6]:
# A list is mutalbe (modifiable)
list1[6] = 'c'
print(list1)
#list1[9]     # trying to access an element not existing

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b']

In [7]:
# Appending a list
list2 = []           # An empty list is defined
for item in range(11, 14, 1):
#    list2 += [item]  # turn item into a list element
   list2.append(item)
print(list2)

[11, 12, 13]

In [8]:
# Appending a string to a list
list3 = []
list3 += 'Python Kooc'
print(list3, len(list3))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c'] 11

In [9]:
# Appending a tuple to a list
list3 += ('M', 'o', 'o', 'c')
print(list3, len(list3))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c', 'M', 'o', 'o', 'c'] 15

In [10]:
# Concatenating lists
list12 = list1 + list2
print(list12)     # concatenating two lists

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

In [11]:
# Obtaining index and elements paired
for i in range(len(list12)):
    print(f'({i}, {list12[i]})', end = ' ')

(0, 1) (1, 2) (2, 3) (3, 4) (4, 5) (5, 6) (6, c) (7, a) (8, b) (9, 11) (10, 12) (11, 13)

__2. Tuples__

- __Immmutable__ and typically store heterogeneous data.
- So, __datasets__ are often stored as tuples.
- Tuples are denoted by __parenthesis ()__, in which data are put.

In [12]:
# An example of a tuple
t1 = 10, 20, 30, 'John'   # A tuple does not require ( )
t1 += (40, 50)            # adding a tuple
print(t1)

(10, 20, 30, 'John', 40, 50)

In [13]:
# Tuple indexing and slicing
t2 = tuple([1, 2, 3, 4])   # A tuple with a list in it.
print(t2)
print(t2[2])
print(t2[:3])

(1, 2, 3, 4)
3
(1, 2, 3)

In [14]:
# a tuple with strings and a list of grades
# a list is mutalbe
t3 = 'Kim', 'Park', 'Kwon', [80, 90, 100]  #list 전체가 element
print(t3, len(t3), t3[3])
# tuple 내 list는 mutable!!
t3[3][1] = 85
print(t3)

('Kim', 'Park', 'Kwon', [80, 90, 100]) 4 [80, 90, 100]
('Kim', 'Park', 'Kwon', [80, 85, 100])

__3. Unpacking sequences: any sequence can be unpacked__

- 머신러닝이나 딥러닝에서 데이터셋을 가져와서 training data와 test data로 나눌 때, training data를 label와 data로 나눌 때 가장 많이 사용

In [15]:
# unpacking tuples
t4 =(('Kim','Park', 'Kwon'), [80, 90, 100])   # tuple 안에 tuple
print(len(t4))
last_name, grades = t4   # two objects are created with names
print(last_name, grades, type(last_name), type(grades))

2
('Kim', 'Park', 'Kwon') [80, 90, 100] <class 'tuple'> <class 'list'>

In [16]:
# unpacking a list
# python 내 모든 list는 unpacking 가능
grade1, grade2, grade3 = grades
print(grade1, grade2, grade3)

80 90 100

In [17]:
# unpacking a string
first, second, third, fourth = 'WIFI'
print(first, second, third, fourth)

W I F I

__4. Enumerate: A built-in function__

- for creating a list or tuple with index and element value.

In [18]:
colors = ['red', 'yellow', 'blue', 'black', 'white']
# enumerate는 for문을 사용하지 않고 index와 값 출력 가능
print(list(enumerate(colors)))
print(tuple(enumerate(colors)))

# printing index and value of the list
for index, color in enumerate(colors):
    print(f'{index}: {color}')

[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
((0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white'))
0: red
1: yellow
2: blue
3: black
4: white

In [27]:
# Creating a simple bar chart with enumerate
bar = [19, 8, 15, 7, 11]
print('Creating a bar chart:')
print(f'Index{"Value":>8}   Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8}   {"*"*value}')

Creating a bar chart:
Index   Value   Bar
    0      19   *******************
    1       8   ********
    2      15   ***************
    3       7   *******
    4      11   ***********

__5. Slicing with steps and modifying lists with slicing__

In [20]:
print(list12, len(list12))
print(list12[:])   # no starting and ending indexes
print(list12[::2]) # even index elements

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13] 12
[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[1, 3, 5, 'c', 'b', 12]

In [21]:
list12[0:3] = ['one', 'two', 'three']
print(list12)
list12[0:3] = []
print(list12)

['one', 'two', 'three', 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

__6. Deleting elements and lists__

In [22]:
# Deleting elements
del list12[-1]
print(list12)
del list12[::2]
print(list12)
del list12[:]
print(list12)

[4, 5, 6, 'c', 'a', 'b', 11, 12]
[5, 'c', 'b', 12]
[]

In [28]:
# Deleting a variable
print(bar)
del bar
print(bar)   #없는 bar를 print 하라고 하니까 오류 남

[19, 8, 15, 7, 11]

NameError: name 'bar' is not defined

__7. Sorting lists with sorting method__

In [29]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
numbers.sort()   #element location are modified
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [31]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
numbers.sort(reverse = True)
print(numbers)
# element의 크기가 아닌 index를 뒤바꾸는 독립적인 function
numbers.reverse()   # reversing the order of the list
print(numbers)

[15, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [51]:
# word by word parsing with split() method
a_string = 'J I love you, and do you love me?'
# 단어 별로 나눠서 element로
a_string = a_string.split()
print(a_string, type(a_string))
a_string.sort(key=len)        # sorted by length and ordered as a word appears
print(a_string, type(a_string))
b_string = sorted(a_string)  # alphabetical order and length  대문자가 먼저!
print(b_string)

['J', 'I', 'love', 'you,', 'and', 'do', 'you', 'love', 'me?'] <class 'list'>
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love'] <class 'list'>
['I', 'J', 'and', 'do', 'love', 'love', 'me?', 'you', 'you,']

In [37]:
x = [7, 2, 5, 4, 3, 6, 1, 9, 8,15, 11]
y = sorted(x)
z = reversed(x)   # order of elements is reversed
print(x)
print(y)
print(list(z))
print(x)

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]
[11, 15, 8, 9, 1, 6, 3, 4, 5, 2, 7]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

__8. Searching elements and useful list methods__

In [39]:
# Operator in and not in
print(x.index(3))
# boolean으로 존재 여부 확인 가능
print(12 in x)
print(12 not in x)
print('Love' in a_string)

4
False
True
False

In [40]:
# adding and deleting elements by designoting elements
print(a_string)
a_string.insert(3, 'him')
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love']
['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love']

In [41]:
a_string.append('hate')   # adding an element to the end of list
print(a_string)
a_string.remove('him')   # removing the first element from a list
print(a_string)

['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']

In [43]:
# What if you want to add more than one elements to a list?
print(a_string + ['I', 'and'])
a_string.extend(['I', 'and'])
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']

In [44]:
# Emptying list
a_string.clear()   # or a_string[:] = [] or del a_string[:]
print(a_string)

[]

In [45]:
# Copying a list
print(x)
x_copied = x.copy()  # x_copied = x[:]
print(x_copied)
print(x.copy())

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

__9. List comprehensions__

- 빈 list 속에 element를 생성하기 위한 식을 function을 이용해 넣음

In [46]:
list_range = list(range(0, 10, 2))   # This is what we learned.
print(list_range)

[0, 2, 4, 6, 8]

In [47]:
list_com = [i for i in range(0, 10, 2)]
print(list_com)
list_con = [i for i in range(0, 10) if i % 2 != 0]
print(list_con)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [52]:
# ** --> 제곱
list_op = [i**2 for i in range(0, 10, 2)]
print(list_op)
list_up = [i.upper() for i in a_string]
print(list_up)

[0, 4, 16, 36, 64]
['J', 'I', 'DO', 'AND', 'YOU', 'ME?', 'LOVE', 'YOU,', 'LOVE']

In [53]:
# Generator expression: list is not created, Only generator object is made
# ()로 되어 있으니 틀만! 생성자일 뿐임
list_gen = (i**2 for i in range(10) if i % 2 == 0)   # in parenthesis!
print(list_gen)
list_gen1 = [i+4 for i in list_gen]   # instantition
print(list_gen1)

<generator object <genexpr> at 0x7fc11e395510>
[4, 8, 20, 40, 68]

__10. lambda expression, map, and zip function__

In [1]:
list3 = list(range(0, 25))
print(list3)

def is_multiple3(x):
    """Return True if x is a multiple of 3"""
    return x % 3 == 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [4]:
# A built-in function filter. Filter is also generator.
# filter is higher-order function taking a function as argument.
# filter takes a function with one argument and returns True when condition is met
list(filter(is_multiple3, list3))

#filter는 생성자라 이렇게만 하면 생성 안 됨!
#filter(is_multiple3, list3)

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [5]:
# Lambda function: anonymos function, a function without a name
list4 = list(filter(lambda x: x % 3 == 0, list3))
list4

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [6]:
# map: mapping a new value to an existing value, a generator(lazy evaluation)
print(list(map(lambda x: x**2, list4)))
print([i**2 for i in list4])

[0, 9, 36, 81, 144, 225, 324, 441, 576]
[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [7]:
# combining filter and map
list(map(lambda x: x**2, filter(lambda x: x % 3 == 0, list3)))

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [8]:
# An alternative way
[x**2 for x in list3 if x % 3 == 0]

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [12]:
# key: ought to be a one parameter function and returns a value.
car = ['Santafe', 'Mini', 'Pony', 'Grandeur', 'Sonata', 'Excel', 'elantra']
car.sort(key=len)   # ordered by Length and the order of element in the lit
print(car)
print(sorted(car))
#min, max는 아스키코드 값으로 
print(min(car), max(car))
# 하나의 값만 적용 가능
# 소문자로 모두 바꿔서 max값 구하기
max(car, key=lambda i: i.lower())

['Mini', 'Pony', 'Excel', 'Sonata', 'Santafe', 'elantra', 'Grandeur']
['Excel', 'Grandeur', 'Mini', 'Pony', 'Santafe', 'Sonata', 'elantra']
Excel elantra

'Sonata'

In [14]:
# zip: handles multiple iterables concurrently
players = ['Ryu', 'Son', 'Park', 'Kwon']; goals = [7, 20, 15, 7]
for last_name, goal in zip(players, goals):
    print(f'{last_name}: {goal}')

Ryu: 7
Son: 20
Park: 15
Kwon: 7

__11. Two and multi dimensional lists__

In [17]:
# Two dimensional list index: index_name[i][j], where i is row index, j is column index.

a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]   # two dimensional matrix with three rows anad four column
print(a)
# for문 속에 for문 => Nasted for문
for row in a:
    for column in row:
        print(column, end=" ")
    print()   # Waht role is this playing? --> 줄바꿈

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
1 2 3 4
5 6 7 8
9 10 11 12